<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEACHER'S DAY</title>
    <link rel="stylesheet" href="/css/letter.css">
</head>

<body>
    <form method="post">
        <header>
            <div style="display: flex; justify-content: space-evenly;  ">
                <div class="dear">
                    <p>Dear </p>
                    <select name="teacher">
                        <option value="select">-인공지능융합계열-</option>
                        <option value="이영국">이영국</option>
                        <option value="유미선">유미선</option>
                        <option value="김도형">김도형</option>

                        <option value="select">-게임개발계열-</option>
                        <option value="김성인">김성인</option>
                        <option value="조영식">조영식</option>
                        <option value="박경은">박경은</option>

                        <option value="selec">-내신과목-</option>
                        <option value="서민정">서민정</option>
                        <option value="김명수">김명수</option>
                        <option value="이미현">이미현</option>
                        <option value="송창용">송창용</option>
                        <option value="최승호">최승호</option>
                        <option value="김영국">김영국</option>
                        <option value="권순용">권순용</option>
                        <option value="권성현">권성현</option>
                        <option value="정동엽">정동엽</option>
                        <option value="김경애">김경애</option>
                    </select>
                </div>
                <div>
                    <img width="120px" height="60px" src="/imgs/logo.png" alt="로고">
                </div>
                <div>

                </div>
            </div>
        </header>

        <main>
            <textarea class="inform" cols="97" rows="26" name="content"></textarea>
        </main>

        <footer>
            <div></div>
            <div style="display: flex;">
                <h1>1학년</h1>
                <select name="classRoom" id="class">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                </option>
                <h1>반</h1>
                <select name="number" id="number">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                </select>
                <h1>번</h1>
                <button class="out" type="submit">보내기</button>
            </div>
        </footer>
    </form>

</body>

</html>