<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TEACHER'S DAY</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
  <header>
    <img src="/imgs/logo.png" alt="sdh logo" />
  </header>
  <main>
    <section>
      <div class="wrap">
        <a href="/letter">
          <img id="write" src="/imgs/write.png" alt="write letter icon">
        </a>
      </div>
      <label>편지 작성하기</label>
    </section>

    <section>
      <div class="wrap">
        <a href="/list">
          <img src="/imgs/check.png" alt="write letter icon">
        </a>
      </div>
      <label>편지 확인하기</label>
    </section>

  </main>

</body>

</html>